*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.main-container{
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    
}

.playlist-container{
    height: 85vh;
    width: 100%;
    display: flex;
}

.playlist{
    width: 25%;
    background-color: rgb(36, 32, 32);
    overflow: hidden;
}

.playing{
    width: 75%;
    background-color: rgb(22, 21, 21);
}

.music-player{
    background-color: red;
    height: 10vh;
    width: 100%;
} 

.logo{
    margin: 10px 15px; 
    height: 35px;
}

.playlist-card{
    display: flex;
    padding: 5px 15px;
    
}

.playlist-main-content{
    color: white;
    font-weight: 400;
    font-size: 15px;
    padding-left:10px ;
}
.fa-sharp{
    color: white;
}
.fa-solid{
    color: white;
}

.playlist-main-content-header{
   color: white;
   margin: 15px;  
   font-weight: 600;
}
.track-list{
    margin: 10px 5px;
    height: 60vh;
    border-radius: 5px;
    background-color: rgb(39, 39, 39);
    overflow: scroll;
    
}
.track-played{
    color: white;
    margin: 10px 5px;
    font-weight: 400;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid rgb(53, 52, 52);
    padding: 5px;
    border-radius: 5px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.fa-circle-left{
    margin: 0px 5px;
}
.fa-circle-right{
    margin: 0px 5px;
}
.fa-user{
    margin: 0px 5px;
}
.fa-circle-down{
    margin: 0px 5px;
}

.playlist-image-container{
    padding: 20px;
    display: flex;
    
    
    
    
}

.image-playlist{
    height: 150px;
    margin-top: 5px;
    margin-right: 10px;
}

.data{
    color: white;
    margin-top: 1 px;
    margin-left: 10px;
    margin: 5px;
    
}
.image-data{
    padding-top: 80px;
}